{% trans_default_domain 'FOSUserBundle' %}
{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}

<center>
    <div class="col-md-10 col-sm-10">


        {% if currentPath ends with 'profile/edit' %}
            <h1>
                Editer mon profil
            </h1>
            <hr>
            <br>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {% else %}
            <h1>
                Editer profil
                {{ app.user.username }}
            </h1>
            <hr>
            <br>
            {{ form_start(form, { 'action': path('editProfile', { 'id': form.vars.value.id }), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {% endif %}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
</center>
