{% trans_default_domain 'FOSUserBundle' %}

<center>
    <div class="col-md-6">
        {% include "default/appFlashes.html.twig" %}
    </div>
    <div class="col-md-4">
        <h1>
            Profil
        </h1>
        <hr>
        <br>

        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}:
                {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}:
                {{ user.email }}</p>
            <p>
                <a href="{{ path('fos_user_change_password') }}" class="text-primary">
                    Changer le mot de passe
                </a>
            </p>
        </div>

    </div>
</center>
