<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

            <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <div class="">

            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <strong>Connexion</strong>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('fos_user_security_check') }}" method="post">
                                <div class="row">
                                    <div class="col">
                                        <span class="profile-img">
                                            <i class='fas fa-user-circle' style='font-size:120px'></i>
                                        </span>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                        <!-- other content  -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class='fas fa-user-shield'></i>
                                                    </span>
                                                </div>
                                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class='fas fa-user-secret'></i>
                                                    </span>
                                                </div>
                                                <input type="password" class="form-control" id="password" name="_password"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <center>
                                                <button type="submit" id="envoyer" value="Connexion" class="btn btn-success my-1">Entrer</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a href="#" onClick="">I forgot my password!</a> -->
                            </form>
                            {% if error %}
                                {# <div class="alert alert-danger">{{ error.message|trans }}</div> #}
                                <div class="alert alert-danger">{{ "Mot de passe incorrecte" }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% block scrpits %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    {# <script>
                        $(document).ready(function () {
                            $('card').hide();
                            $('body').click(function () {
                                $('.card').fadeIn();
                            });
                
                        });
                    </script> #}

{% endblock %}
