{% extends "default/index.html.twig" %}

{% block content %}
    {% block stylesheets %}
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/command-form.css') }}" rel="stylesheet"/>
    {% endblock %}

    <div id="container" class="col-md-11">
        <div class="row" id="table-header">
            <div class="col-md-11">
                <div class="row">
                    <div class='col-md-4'>
                        Désignation
                    </div>
                    <div class='col-md-2'>
                        Fournisseur
                    </div>
                    <div class='col-md-2'>
                        Référence
                    </div>
                    <div class='col-md-2'>
                        Prix
                    </div>
                    <div class='col-md-2'>
                        CDT
                    </div>
                </div>
            </div>
            <div class="'col-md-1">
                Quantité
            </div>
        </div>
        <hr>

        {{ form_start(form) }}

        {{ form_row(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/command-form.js') }}"></script>
{% endblock %}
