{% extends "default/index.html.twig" %}
{% block content %}
    {% block stylesheets %}
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/command-form.css') }}" rel="stylesheet"/>
    {% endblock %}
    {% block ProductInCommandType_widget %}

        {% form_theme form 'jquery.collection.html.twig'%}
        <div id="container" class="col-md-5">
            <div class="row horizontal-form col-md-6 offset-md-1">
                {{form_start(form)}}

                {{form_row(form)}}


                {{form_end(form)}}
            </div>

        </div>


    </div>
    {{form_end(form)}}


{% endblock %}{% endblock %}{% block javascripts %}
<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script type="text/javascript">

    $('.command-collection').collection({
        up: '<a href="#" class="btn btn-light"><i class="fas fa-long-arrow-alt-up"></i></a>',
        down: '<a href="#" class="btn btn-light"><i class="fas fa-long-arrow-alt-down"></i></a>',
        add: '<a href="#" class="btn btn-primary"><i class="fas fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>',
        init_with_n_elements: 1
        // allow_duplicate: true
    });
</script>{% endblock %}
