{% extends "default/index.html.twig" %}
{% block content %}
    {% block stylesheets %}
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/editFormulary-form.css') }}" rel="stylesheet"/>
    {% endblock %}
    <center>
        <div id="container" class="col-md-11">

            <h3 attr-id="{{ category.id }}">Modification du formulaire {{ category.name }}</h3>
            {%
                    form_theme form
                    'bootstrap_4_layout.html.twig'
                        'jquery.collection.html.twig'%}
            {{ form_start(form) }}

            {{ form_end(form)}}

        </div>
    </center>
{#    <button class="btn btn-danger col-md-1 offset-md-1" id="remove-form">Supprimer</button>#}
{% include "others/modalDelete.html.twig" %}
    <style>
        #remove-form{
            float:right;

        }
        #platformbundle_category_Valider{

            display: block;
            margin : auto;

        }
    </style>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/editFormulary.js') }}">

</script>{% endblock %}
