{% extends "default/index.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/editFormulary-form.css') }}" rel="stylesheet"/>
    {% endblock %}
{% block content %}

    <center>
        <div id="container" class="col-md-11">

            <h3 attr-id="{{ category.id }}">Modification du formulaire {{ category.name }}</h3>
            {%
                form_theme form
                'bootstrap_4_layout.html.twig'
                'jquery.collection.html.twig'%}

            {{ form_start(form) }}
            {{ form_end(form)}}

        </div>
    </center>
    {% include "others/modalDelete.html.twig" %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script src="{{ asset('js/editFormulary.js') }}"></script>
{% endblock %}
