{% extends "default/index.html.twig" %}
{% block content %}
	<center>
		<h2>
			Suivi des commandes
		</h2>
		<br>
		<div class="col-md-6">
			{% for command in listCommand %}
				<div class="card border-dark" attr-id="{{ command.id }}">
					<div class="card-header">
						<div class="inline">
							Commande n°{{command.id}}
							-
							{{command.category.name}}
							<a href="#" class="btn btn-success">
								<i class="fas fa-check"></i>
							</a>
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title">{{command.category.name}}</h5>
						{% for product in command.commandProducts %}
							{% if product.quantity > 0 %}
							<p class="card-text">
								<b>{{product.quantity}}</b>
								x
								<b>{{product.product.designation}}</b>
							</p>
							{% endif %}
						{% endfor %}
						<div class="row">
							<a href="#" class="btn btn-primary">Voir le détail</a>


						</div>
					</div>
					<div class="card-footer">
						Demandée le
						{{command.creationDate|date("d/m/Y")}}
					</div>
				</div><br>

			{% endfor %}
		</div>
	</center>
	<style>
		.btn-success {
			position: absolute;
			right: 0.4rem;
			top: 0.4rem;
		}
		.btn-primary {
			margin-left: 40px;
		}
		h2 {
			margin-top: 20px;
		}
	</style>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/command.js') }}"></script>
{% endblock %}
